<div style="width: 100%;height: 100vh;background-color: red;display: flex;justify-content: center">
    <div style="width:50%;height: 100%;background-color: blue;display: flex;justify-content: center;align-items: center">
        <a href="/Register/Talent" class="btn btn-danger">TALENT</a>  
    </div>
    <div style="width:50%;height: 100%;background-color: yellow;display: flex;justify-content: center;align-items: center">
        <a href="/Register/Company" class="btn btn-warning">COMPANY</a>  
    </div>
    
    
</div>